@using CmsProject.Models.Blocks.EmployeeList
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using System.Diagnostics
@using MoreLinq
@model EmployeeListViewModel

<div class="container-fluid ArticleListblock">

    <div class="row align-items-center" style="margin-bottom:40px">
        <div class="col-3"></div>
        <div class="col employee-intro-text">@Html.PropertyFor(x=>x.CurrentBlock.IntroText)</div>
        <div class="col-4"></div>
    </div>

    <div class="row align-items-center">

        @*SPACER*@
        <div class="col-2"></div>

        <div class="col-8">
            <div class="row row-cols-@Model.CurrentBlock.NumColumns">

   
                @foreach (var item in Model.CurrentBlock.EmployeeListItems)
                {                   
                    @*BOX*@
                    <div class="col" style="">
                        
                        <img src="@Url.ContentUrl(item.ArticleImage)" class="employee-img" />
                        
                        <div class="col-12 employee-text">
                            @Html.PropertyFor(x=> item.Text)
                        </div>
                    </div>
                }
            </div>
        </div>

        @*SPACER*@
        <div class="col-2"></div>

    </div>



</div>





